#main {
    position:relative;
    margin: 100px auto;
    padding: 5px;
    width: 660px;
    height:360px;
    background-color: silver;
    border: 5px solid grey;
    border-radius:15px;
}
#scr {
    margin:20px auto;
    width: 600px;
    height: 320px;
    position: relative;
    background-color: white;
    background-size:cover;
    border: 2px solid black;
    border-radius:10px;
}
#switchContainer {
    height: 10px;
    position: absolute;
    right: 5px;
    bottom: 10px;
}
.switch {
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 5px;
    border: 1px solid black;
    background: rgba(128, 128, 128, 0.6);
    opacity: 0.6;
}
.switch:hover {
    background: rgba(184, 184, 184, 0.6);
}
button {
    position: absolute;
    top: 150px;
    width: 25px;
    height: 70px;
    font: 12pt arial,tahoma,sans-serif;
    text-align: center;
}
.left {
    left:5px;
}
.right {
    right:5px;
}
.pause {
    width: 25px;
    height: 25px;
    top: 100%;
    left: 50%;
    background: url(icons/pause.png);
    background-size: contain;
    opacity: 0.6;
}
aside {
    display: none;
}
aside * {
    display: none;
}